.fondDePage {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(221, 220, 220);
  height: 100vw;
}
.feuille {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 50%;
}
.page {
  background-color: white;
  /* margin-bottom: 10px; */
  height: 100%;
}
.title {
  background-color: rgb(187, 185, 185);
  max-width: 50%;
  /* margin-left: 0px; */
  margin-bottom: 0;
}
.lorem {
  display: flex;
  flex-wrap: wrap;
  overflow-y: hidden;
  margin-bottom: 10px;
  max-width: 50%;
  max-height: 50%;
  background-color: rgb(187, 185, 185);
}
